<section class="contact">
    <h2>Contact</h2>
    <p>Feel free to call us at (734) 317-7699.</p>
    <p>Or reach out to us on Social Media
        <ul>
            <li><i class="fa fa-facebook" aria-hidden="true"></i><a href="https://www.facebook.com/lunacarnival" title="Facebook" target="_blank">Facebook</a></li>
            <li><i class="fa fa-twitter" aria-hidden="true"></i><a href="https://twitter.com/LunaCarnival" title="Twitter" target="_blank">Twitter</a></li>
            <li><i class="fa fa-yelp" aria-hidden="true"></i><a href="http://www.yelp.com/biz/luna-carnival-luna-pier" title="Yelp" target="_blank">Yelp</a></li>
        </ul>
    </p>
</section>
