<section class="menu">
    <h2>Menu</h2>
    <p>Specials and Random Meals Updated at the Carnival Daily!</p>
    <table>
        <tr>
            <td>Pizza by the slice</td>
            <td>$2</td>
        </tr>
        <tr>
            <td>Pizza: 16"</td>
            <td>$15</td>
        </tr>
        <tr>
            <td>3 Baja Fish Tacos </td>
            <td>$9 (Extra Tacos $3 each)</td>
        </tr>
        <tr>
            <td>Random Nachos... Whatever Jonny throws together!</td>
            <td>$5</td>
        </tr>
        <tr>
            <td>Ashby's Ice Cream: 1 Scoop </td>
            <td>$2.25</td>
        </tr>
        <tr>
            <td>Ashby's Ice Cream: Extra Scoops </td>
            <td>$1.75 per scoop</td>
        </tr>
        <tr>
            <td>Funnel Cake</td>
            <td>$2.50</td>
        </tr>
        <tr>
            <td>Chips</td>
            <td>$2</td>
        </tr>
    </table>
</section>
