.contact{
    width:100%;
    background: linear-gradient(to bottom, rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.35) 100%), url('../images/about.jpg') top center no-repeat;
    background-size:80% 40%;
    padding:20% 0 0;
    height:auto;
    text-align: center;
    position: relative;
    @media screen and (max-width: 750px){
        height:auto;
        padding:30% 0 10%;
        background-size:100% 50%;
    }
    p{
        width:50%;
        padding:2% 15%;
        margin:0 auto;
        background:rgba(255,255,255,1);
        font-size:1.5em;
        @media screen and (max-width: 750px){
            width:96%;
            padding:2%;
            font-size:1em;
        }
    }
    ul{
        list-style: none;
        margin:0;
        padding:0;
        text-indent: 0;
        font-size:1.5em;
        background:rgba(255,255,255,1);
        li{
            margin:0 auto;
            padding:0;
        }
    }
}

.contact h2{
    font:$h2-type-stack;
    text-align: center;
    margin: 0 auto;
    background:rgba(255,255,255,0.75);
}
