// Main Variables

$main-type-stack: 12pt/normal 'Open Sans', Arial, sans-serif;
$main-type-color: #2a3232;
$main-background-color: #ffffff;

// Heading Vars

$h1-type-stack: 32pt/normal 'Raleway', Arial, sans-serif;
$h2-type-stack: 48pt/normal 'Raleway', Arial, sans-serif;
// NAV Vars

$nav-bg-color: #ffffff;
$nav-type-color:#2a3232;
$nav-type-stack: 'Raleway', Arial, sans-serif;
